{% extends 'base.html' %}

{% block title %}Mon compte{% endblock title %}

{% block subtitle %}
          <h2>Mon compte</h2>
          <hr />
{% endblock subtitle %}

{% block headform %}
  {% if user.is_authenticated %}
  <div class="py-2 bg-faded">
    <ul class="list-unstyled">
      <li><strong>Utilisateur</strong> : {{ user.username }}</li>
      <li><strong>Courriel</strong> : {{ user.email }}</li>
    </ul>
    <p>
      <a href="{% url 'ersatz-list' %}" class="btn btn-primary" title="Lien vers la page 'Mes produits'">
        Voir mes substituts enregistrés
      </a>
    </p>
  </div>

  {% else %}
  <p>Vous n'êtes pas connecté</p>
  {% include "account/anonymous.html" %}
  {% endif %}

{% endblock headform %}

{% block chapo %}{% endblock chapo %}

{% block content %}{% endblock content %}
