{% extends 'base.html' %}
{% block title %}Substituts pour {{ product.name }}{% endblock %}

{% block header %}{% endblock %}

{% block bgurl %}{{ product.image_front_url }}{% endblock bgurl %}

{% block chapodetails %}
            <h2>{{ product.name }}</h2>
{% endblock chapodetails %}

{% block contentdetails %}
          <div class="col-lg-6 mx-auto text-center">
            <h4>Vous pouvez remplacer cet aliment par {{ count }} substitut{{ count|pluralize }}</h4>
            <hr>
          </div>
        </div>
        <div class="row">
    {% for line in slist %}
          <div class="col-lg-4 col-sm-6 text-center bg-faded border" id="{{ forloop.counter }}">
            <div class="item">
              <a href="{% url 'ersatz-product' code=line.code %}?next={{ request.path }}?{{ request.META.QUERY_STRING }}&anchor={{ forloop.counter }}" title="Afficher la fiche pour {{ prod.name }}">
                <img class="img-thumbnail img-fluid" src="{% spaceless %}

                {% if line.image_front_thumb_url == False or line.image_front_thumb_url == '' %}
                  https://via.placeholder.com/100x50?text=Oups!
                {% else %}
                  {{ line.image_front_thumb_url }}
                {% endif %}

                {% endspaceless %}" alt="{{ line.name }} thumbnail">
                <span class="nutri-badge">{{ line.nutrition_grades }}</span>
              </a>
            </div>
            <p>{{ line.name }}</p>
            <a href="{% url 'ersatz-favorite' e_code=line.code p_code=product.code %}" title="Choisir le produit {{ line.name }}">
              <i class="fas fa-1x floppy-o text-primary"></i> - Choisir
            </a>
          </div>
    {% endfor %}
        </div>
{% endblock contentdetails %}
