{% extends 'base.html' %}

{% block title %} - ersatz favorite{% endblock %}

{% block content %}
  <h2>ersatz - favorite</h2>
  <h4>{{ message }}</h4>
  <h6>Produit initial</h6>
  <ul>
  {% for field, value in product.items %}
    <li><strong>{{ field }}</strong> : <em>{{ value }}</em></li>
  {% empty %}
    <li>oups…</li>
  {% endfor %}
  </ul>
  <h6>Substitut associé</h6>
  <ul>
  {% for field, value in substitute.items %}
    <li><strong>{{ field }}</strong> : <em>{{ value }}</em></li>
  {% empty %}
    <li>oups…</li>
  {% endfor %}
  </ul>

{% endblock %}
