{% extends 'base.html' %}

{% block title %} - ersatz favorite{% endblock %}

{% block content %}
  <h2>ersatz - favorite</h2>
  <h4>{{ message }}</h4>
  <ul>
  {% for fav in favorites %}
    <li>
      <strong>
        <a href="{% url 'ersatz-product' fav.products.code %}" title="">{{ fav.substitutes.name }}</a>
      </strong> :
      <em>
        <a href="{% url 'ersatz-product' fav.substitutes.code %}" title="">{{ fav.products.name }}</a>
      </em>
    </li>
  {% empty %}
    <li>oups…</li>
  {% endfor %}
  </ul>
{% endblock %}
