{% extends "base.html" %}

{% block title %}Me connecter{% endblock %}
{% block subtitle %}Me connecter{% endblock %}

{% block headform %}
    {% spaceless %}

    {% if form.errors %}
  <p class="text-danger bg-warning">Le nom d'utilisateur et le mot de passe ne correspondent pas</p>

    {% endif %}

    {% if next %}

      {% if user.is_authenticated %}
  <p class="text-danger bg-warning">Your account doesn't have access to this page.</p>
      {% else %}

      {% endif %}

    {% endif %}

{% endspaceless %}
            <form class="form-ctrl" method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Me connecter</button>
              </div>
            </form>
{% endblock headform %}

{% block chapo %}{% endblock chapo %}

{% block content %}{% endblock content %}
