{% extends "base.html" %}

{% block title %} - Se connecter{% endblock %}

{% block content %}

  {% spaceless %}

    {% if form.errors %}
  <p><strong>Le nom d'utilisateur et le mot de passe ne correspondent pas</strong></p>

    {% endif %}

    {% if next %}

      {% if user.is_authenticated %}
  <p><strong>Your account doesn't have access to this page.</strong></p>
      {% else %}

      {% endif %}

    {% endif %}

  {% endspaceless %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        <br />
        {{ form.password.label_tag }}
        {{ form.password }}
        <input type="submit" value="Se connecter" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
{% endblock %}

{% block footer %}{% endblock %}
