{% extends "base.html" %}

{% block title %}Créer un compte{% endblock %}
{% block subtitle %}Créer un compte{% endblock %}

{% block headform %}


    {% for label, error_msg in form.errors.items %}
          <p class="text-danger bg-warning">{{ error_msg.0 }}</p>
    {% empty %}
    {% endfor %}

          <form class="form-ctrl" method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <div class="form-group">
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
            <div class="form-group">
              {{ form.email.label_tag }}
              {{ form.email }}
            </div>
            <div class="form-group">
              {{ form.password1.label_tag }}
              {{ form.password1 }}
            </div>
            <div class="form-group">
              {{ form.password2.label_tag }}
              {{ form.password2 }}
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Créer un compte</button>
            </div>
          </form>
{% endblock headform %}

{% block chapo %}{% endblock chapo %}

{% block content %}{% endblock content %}
